html {
  font-size: 62.5%;
}
body {
  background-color: black;
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  display: flex;
  flex-wrap: wrap;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.App-header .title {
  font-size: 3.0rem;
  padding: 5.0rem 0 3.0rem;
}
.App-header-inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 2.5rem 0;
  width: 25%;
}
.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.0rem;
}
.App-header img {
  margin: 0 5%;
  padding: 1.5%;
  width: calc(50% - 13%);
  height: 100%;
}
.nu-blog-logo {
  background-color: white;
}
.nu-stack-logo {
  background-color: black;
}
.App-link {
  color: white;
}
button {
  font-size: calc(10px + 2vmin);
  margin: 0 0 3.0rem;
}
